@font-face{
    font-family:"RW-creepsville";
    src:local('RW-creepsville'),
      url('./RW-creepsville.ttf') format('truetype');
  }
* {
    margin: 0;
    padding: 0;
}

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @keyframes text-pop-up-top {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  


html {
	height: 100%
}

body {
    background-image: url('../gfx/bg3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font: 20px Verdana;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-family: RW-creepsville;
    color: red;
    font-size: 4rem;
    margin-left: 24px;
    text-shadow: 1px 2px 5px black, 2px 1px 5px white;
    margin-top: 69vh;
}

#gameBoard {
    margin: 0px auto;
    width: 640px;
}

#boxes {
    margin: 10px 0 0;
    z-index: 1;
}

#boxes div {
    background-image: url(../gfx/hand.png) !important;
    background: #4a443c;
    border: 4px solid red;
    border-radius: 10px;
    box-shadow: 1px 3px 9px white;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    z-index: 2;
}

#boxes div img {
    border-radius: 50px;
    display: none;
    z-index: 3;
    box-shadow: 1px 2px 3px red;
    background: wheat;
}

#gameButtons {
    display: block;
    margin: 20px;
    text-align: center;
}

#gameButtons .button {
    background: #0a0915;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    /*font-family: Halls;*/
    color: red;
    text-shadow: 2px 1px 5px black;
}

#gameButtons .button:hover {
    background: #777;
}

.text-pop-up-top {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;
    margin-top: 36vh;
    margin-left: 4vh;
    font-family: RW-creepsville;
    color: red;
    font-size: 3rem;
}


/*@media (orientation: landscape) and (max-width : 768px){
    .title {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 0;
    margin-left: -15vh;
    font-size: 1rem;
    }
}*/

@media screen and (max-device-width: 768px) {
    .title {
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin-top: 0;
        margin-left: -15vh;
        font-size: 1rem;
        }
    }

